<html lang="en">

<head>

    <meta charset="UTF-8">

    <link rel="apple-touch-icon" type="image/png" href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png">
    <meta name="apple-mobile-web-app-title" content="CodePen">

    <link rel="shortcut icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">

    <link rel="mask-icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111">


    <title>CodePen - lightGallery videos</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.3.0-beta.4/css/lightgallery.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.3.0-beta.4/css/lg-video.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.css">

    <style>
        body {
            padding: 40px;
            background-image: linear-gradient(#e8f0ff 0%, white 52.08%);
            color: #0e3481;
            min-height: 100vh;
        }
        
        .header .lead {
            max-width: 620px;
        }
        
        .gallery-container a {
            width: 100%;
            margin: 5px;
        }
        
        .gallery-container a img {
            max-width: 100%;
            height: auto;
        }
    </style>

    <script>
        window.console = window.console || function(t) {};
    </script>



    <script>
        if (document.location.search.match(/type=embed/gi)) {
            window.parent.postMessage("resize", "*");
        }
    </script>


</head>

<body translate="no" style="position: relative;">

    <div class="gallery-container d-flex align-items-center justify-content-center" id="gallery-container">
        <a data-lg-size="1280-720" data-pinterest-text="Pin it3" data-tweet-text="lightGallery slide  4" data-src="//www.youtube.com/watch?v=cVAGLDuc2xE" data-poster="https://picsum.photos/id/1/600/400" data-sub-html="<h4>Visual Soundscapes - Mountains | Planet Earth II | BBC America</h4><p>On the heels of Planet Earth II’s record-breaking Emmy nominations, BBC America presents stunning visual soundscapes from the series' amazing habitats.</p>"
            data-lg-id="549a465c-fdaa-4b1d-8c01-382c45e798ac">
            <img class="img-responsive" src="//picsum.photos/id/1/600/400">
        </a>
        <a data-lg-size="1280-720" data-pinterest-text="Pin it3" data-tweet-text="lightGallery slide  4" data-src="//www.youtube.com/watch?v=cVAGLDuc2xE" data-poster="https://picsum.photos/id/1/600/400" data-sub-html="<h4>Visual Soundscapes - Mountains | Planet Earth II | BBC America</h4><p>On the heels of Planet Earth II’s record-breaking Emmy nominations, BBC America presents stunning visual soundscapes from the series' amazing habitats.</p>"
            data-lg-id="549a465c-fdaa-4b1d-8c01-382c45e798ac">
            <img class="img-responsive" src="//picsum.photos/id/1/600/400">
        </a>
        <a data-lg-size="1280-720" data-pinterest-text="Pin it3" data-tweet-text="lightGallery slide  4" data-src="//www.youtube.com/watch?v=cVAGLDuc2xE" data-poster="https://picsum.photos/id/1/600/400" data-sub-html="<h4>Visual Soundscapes - Mountains | Planet Earth II | BBC America</h4><p>On the heels of Planet Earth II’s record-breaking Emmy nominations, BBC America presents stunning visual soundscapes from the series' amazing habitats.</p>"
            data-lg-id="549a465c-fdaa-4b1d-8c01-382c45e798ac">
            <img class="img-responsive" src="//picsum.photos/id/1/600/400">
        </a>
        <a data-lg-size="1280-720" data-pinterest-text="Pin it3" data-tweet-text="lightGallery slide  4" data-src="//www.youtube.com/watch?v=cVAGLDuc2xE" data-poster="https://picsum.photos/id/1/600/400" data-sub-html="<h4>Visual Soundscapes - Mountains | Planet Earth II | BBC America</h4><p>On the heels of Planet Earth II’s record-breaking Emmy nominations, BBC America presents stunning visual soundscapes from the series' amazing habitats.</p>"
            data-lg-id="549a465c-fdaa-4b1d-8c01-382c45e798ac">
            <img class="img-responsive" src="//picsum.photos/id/1/600/400">
        </a>

        <a data-lg-size="1280-720" data-pinterest-text="Pin it3" data-tweet-text="lightGallery slide  4" data-src="//www.youtube.com/watch?v=cVAGLDuc2xE" data-poster="https://picsum.photos/id/1/600/400" data-sub-html="<h4>Visual Soundscapes - Mountains | Planet Earth II | BBC America</h4><p>On the heels of Planet Earth II’s record-breaking Emmy nominations, BBC America presents stunning visual soundscapes from the series' amazing habitats.</p>"
            data-lg-id="549a465c-fdaa-4b1d-8c01-382c45e798ac">
            <img class="img-responsive" src="//picsum.photos/id/1/600/400">
        </a>
        <a data-lg-size="1280-720" data-pinterest-text="Pin it3" data-tweet-text="lightGallery slide  4" data-src="//www.youtube.com/watch?v=cVAGLDuc2xE" data-poster="https://picsum.photos/id/1/600/400" data-sub-html="<h4>Visual Soundscapes - Mountains | Planet Earth II | BBC America</h4><p>On the heels of Planet Earth II’s record-breaking Emmy nominations, BBC America presents stunning visual soundscapes from the series' amazing habitats.</p>"
            data-lg-id="549a465c-fdaa-4b1d-8c01-382c45e798ac">
            <img class="img-responsive" src="//picsum.photos/id/1/600/400">
        </a>
        <a data-lg-size="1280-720" data-pinterest-text="Pin it3" data-tweet-text="lightGallery slide  4" data-src="//www.youtube.com/watch?v=cVAGLDuc2xE" data-poster="https://picsum.photos/id/1/600/400" data-sub-html="<h4>Visual Soundscapes - Mountains | Planet Earth II | BBC America</h4><p>On the heels of Planet Earth II’s record-breaking Emmy nominations, BBC America presents stunning visual soundscapes from the series' amazing habitats.</p>"
            data-lg-id="549a465c-fdaa-4b1d-8c01-382c45e798ac">
            <img class="img-responsive" src="//picsum.photos/id/1/600/400">
        </a>
        <a data-lg-size="1280-720" data-pinterest-text="Pin it3" data-tweet-text="lightGallery slide  4" data-src="//www.youtube.com/watch?v=cVAGLDuc2xE" data-poster="https://picsum.photos/id/1/600/400" data-sub-html="<h4>Visual Soundscapes - Mountains | Planet Earth II | BBC America</h4><p>On the heels of Planet Earth II’s record-breaking Emmy nominations, BBC America presents stunning visual soundscapes from the series' amazing habitats.</p>"
            data-lg-id="549a465c-fdaa-4b1d-8c01-382c45e798ac">
            <img class="img-responsive" src="//picsum.photos/id/1/600/400">
        </a>
    </div>
    <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-1b93190375e9ccc259df3a57c1abc0e64599724ae30d7ea4c6877eb615f89387.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.3/picturefill.min.js"></script>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script id="rendered-js" type="module">
        import lightGallery from "https://cdn.skypack.dev/lightgallery@2.3.0-beta.4"; import lgVideo from "https://cdn.skypack.dev/lightgallery@2.3.0-beta.4/plugins/video"; lightGallery(document.getElementById("gallery-container"), { speed: 500, plugins: [lgVideo]
        }); //# sourceURL=pen.js
    </script>


    <div class="lg-container  " id="lg-container-1" tabindex="-1" aria-modal="true" role="dialog">
        <div id="lg-backdrop-1" class="lg-backdrop" style="transition-duration: 300ms;"></div>

        <div id="lg-outer-1" class="lg-outer lg-use-css3 lg-css3 lg-hide-items lg-slide lg-grab">

            <div id="lg-content-1" class="lg-content">
                <div id="lg-inner-1" class="lg-inner" style="transition-timing-function: ease; transition-duration: 500ms;">
                </div>
                <button type="button" id="lg-prev-1" aria-label="Previous slide" class="lg-prev lg-icon">  </button>
                <button type="button" id="lg-next-1" aria-label="Next slide" class="lg-next lg-icon">  </button>
            </div>
            <div id="lg-toolbar-1" class="lg-toolbar lg-group">

                <button type="button" aria-label="Close gallery" id="lg-close-1" class="lg-close lg-icon"></button>
                <a id="lg-download-1" target="_blank" rel="noopener" aria-label="Download" download="" class="lg-download lg-icon"></a>
                <div class="lg-counter" role="status" aria-live="polite">
                    <span id="lg-counter-current-1" class="lg-counter-current">1 </span> /
                    <span id="lg-counter-all-1" class="lg-counter-all">4 </span></div>
            </div>

            <div id="lg-components-1" class="lg-components">
                <div class="lg-sub-html" role="status" aria-live="polite"></div>
            </div>
        </div>
    </div>
</body>

</html>