#TABLAS 
CRUISE=CRUISE@CRSPROD
CRUISE_DETAIL=CRUISE_DETAIL@CRSPROD
CATALOG=CATALOG@CRSPROD
CATALOG_DETAIL=CATALOG_DETAIL@CRSPROD
CLIENT=CLIENT@CRSPROD
DAY=DAY@CRSPROD
DESTINATION=DESTINATION@CRSPROD
EXPERIENCE=EXPERIENCE@CRSPROD
DAY_DETAIL=DAY_DETAIL@CRSPROD
INCLUDED_OPTION=INCLUDED_OPTION@CRSPROD
NET_RATE=NET_RATE@CRSPROD
SERVICE=SERVICE@CRSPROD
SUPPLIER=SUPPLIER@CRSPROD
TOUR=TOUR@CRSPROD
TOUR_DETAIL=TOUR_DETAIL@CRSPROD
TRANSPORT=TRANSPORT@CRSPROD
USER=USER@CRSPROD

#REGION
MYCULTURE=es-EC
MYDECIMALSEPARATOR=","
MYGROUPSEPARATOR="."
MYDATESEPARATOR="/"
MYSHORTDATE="DD/MM/YY"
MYLONGDATE="DD/MM/YYYY"
MYDECIMALDIGITS=2


#BASES DE DATOS
CRS=postgresql://postgres:postgres@192.168.101.4:5432/crs3
CRSPROD=postgresql://postgres:rB]fi6gJxnx.v0@/crs3?unix_socket=/cloudsql/crs-hotel-352722:us-east1:crsdb


#CORREO
MAIL_USER=jose.cuevas.cv@gmail.com
MAIL_PASS=vrttwujaqezajqos
MAIL_SERVER=smtp.gmail.com
MAIL_SERVER_PORT=587

#CRYPTO
PKSALT=1qazxsw23edcvfr45tgbnhy67ujm,ki8

#WEB
SERVER_PORT=9999
SERVER_HOST=0.0.0.0
SERVER="http://192.168.101.4:9999/"
TOKEN="gAAAAABhjtSOlFafpsgJ70Sx11gM7Iv_6RuTpnOs1UWf4ELEnYC1gsvx7E2OZjRAUkkflPMXqR7ua7MtC7Y3LCWoB8uo5lmBV-Sns1lIpIy0YPuPXhdPx96We9xqbRcEylp8Fz91PAQf"


#FLASK
FLASK_APP= "service/runserver.py"
FLASK_ENV= "production"
FLASK_RUN_PORT= "9999"
FLASK_RUN_HOST= "0.0.0.0"