aniso8601==9.0.1
attrs==21.2.0
bleach==4.1.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
cryptography==35.0.0
docutils==0.18
Flask==2.0.2
Flask-Cors==3.0.10
flask-restx==0.5.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
idna==3.3
importlib-metadata==4.8.2
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema==4.2.1
keyring==23.2.1
MarkupSafe==2.0.1
naver-config==0.0.1.post9
naver-core==0.0.2.post10
naver-db==0.0.1.post11
naver-net==0.0.1.post9
naver-web==0.0.1.post5
packaging==21.2
pika==1.2.0
pkginfo==1.7.1
protocol==0.1.0
psycopg2==2.9.2
pycparser==2.21
Pygments==2.10.0
pyparsing==2.4.7
Pyro4==4.81
pyrsistent==0.18.0
python-consul==1.1.0
python-decouple==3.5
python-dotenv==0.19.2
pytz==2021.3
pywin32-ctypes==0.2.0
readme-renderer==30.0
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
serpent==1.40
six==1.16.0
SQLAlchemy==1.4.27
tqdm==4.62.3
twine==3.6.0
urllib3==1.26.7
webencodings==0.5.1
Werkzeug==2.0.2
WTForms==3.0.0
zipp==3.6.0
